<!DOCTYPE html>
<html lang="en">
  <head>
    <title>eduTechnoz</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="fullprogramenroll.css">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="container mt-md-5">
      <div class="row">
        <div class="col-md-12">
          <!--navbar-->
          <nav class="navbar navbar-expand-sm">
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarText"
              aria-controls="navbarText"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
              <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                  <a class="nav-link" href="#">
                    <img
                      src="./Images/download.jpg"
                      alt="logo"
                      width="50%"
                      class="img-fluid"
                      id="logo"
                    />
                  </a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
      <!--2nd row-->
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-6" style="border-right: 3px solid black">
                    <h1 class="float-right mr-md-3" id="arabic">Enrich Arabic</h1>
                  </div>
                  <div class="col-md-6">
                    <p id="enroll">Full Program Enrollment</p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <p class="ml-md-5">
                    Enjoy access to all sessions including exclussive drama
                    sessions, throughout the academic year(October 2023-July
                    2024).
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <p class="ml-md-5"><b>Choose Your Desired Day/Time</b></p>
                  <p class="ml-md-5">
                    Simply Select the day/time that suits your schudles from the
                    available options:
                  </p>
                </div>
              </div>
              <div class="row mt-md-3">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-3">
                            <input
                            type="checkbox"
                            name="options"
                            class="checkbox-1"
                          />
                          <button class="btn mb-md-2 but" data-id="1" style="background-color: 	 #8080ff; color:white;width:40%; border-radius: 20px; box-shadow: 0px 3px 0px 0px #4d4dff"
                            >Selected</button>
                        </div>
                        <div class="col-md-3"><p>Wednesday 6:30pm-7:30pm EST</p></div>
                        <div class="col-md-3"></div>
                    </div>
          <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-3">
                <input
                type="checkbox"
                name="options"
                id="option2"
                class="checkbox-2"
              />
              <button class="btn but mb-md-2" data-id="2" style="background-color: #d1e0e0; border-radius: 20px; color:#8080ff; width:40%;box-shadow: 0px 3px 0px 0px #8080ff">Select</button>
            </div>
            <div class="col-md-3">
                <p>Saturday 9:30am-10:30am EST</p>  
            </div>
            <div class="col-md-3"></div>
          </div>
          <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-3">
                <input
                type="checkbox"
                name="options"
                id="option3"
                class="checkbox-3"
              />
              <button class="btn but mb-md-2" data-id="3" style="background-color: #f0f5f5; border-radius: 20px;box-shadow: 0px 3px 0px 0px grey" 
                >Waitlist <small>($10)</small></button>
            </div>
            <div class="col-md-3">
                <p>Thursday 6:30pm-7:30pm EST</p> 
            </div>
            <div class="col-md-3"></div>
          </div>
          <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-3">
                <input
                type="checkbox"
                name="options"
                id="option4"
                class="checkbox-4"
              />
              <button class="btn but" data-id="4"  style="background-color: #f0f5f5; border-radius: 20px;box-shadow: 0px 3px 0px 0px grey">Waitlist <small>($10)</small></button>
            </div>
            <div class="col-md-3">
                <p>Saturday 4:30am-5:30am EST</p>
            </div>
            <div class="col-md-3"></div>
          </div>

                </div>
              </div>
              <div class="row mt-md-5 mb-md-5">
                <div class="col-md-6">
                    <button type="button" id="join" class="btn mx-auto d-block">Join Now  $980USD</button>
                </div>
                <div class="col-md-6">
                    <button id="spinwin" class="btn" type="button">Spin & Win</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
        $(document).ready(function(){
            $('.but').on('click' , function(){
            let a= $(this).data('id'); 
            console.log(a);
         $('.checkbox-' +a).prop('checked' , true);
           $(this).prop("disabled", 
           !$(this).prop("checked"));

        // $('.checkbox-' + a).prop('checked', 
        // !$('.checkbox-' + a).prop('checked'));

           if ($('.checkbox-' + a).prop('checked')) {
            $(this).text('Checked');
            $(this).prop('disabled', true);
        } else {
            // $(this).text('Select');
            $(this).prop('disabled', false);
            
        }

    });  
        });
    
    </script>
  </body>
</html>
