<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--fontawesom-->
    <script src="https://kit.fontawesome.com/5d2b927f52.js" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="index.css">
    <!--carousal url-->

</head>

<body>
    <!-- <div class="container-fluid"> -->
    <div class="container-fluid" id="con">
        <nav class="navbar navbar-expand-sm" id="bg">
            <button class="navbar-toggler btn- btn-light" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
              <a class="navbar-brand" href="#">
                <img src="./Images/logo-top.png" alt="logo" width="70%" id="top"
                class="mx-auto d-block mt-md-3" />
              </a>
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <button class="btn btn-light my-2 my-sm-0" type="button" style="border-radius:20px; color:#3e0397">GET STARTED</button>
                </li>
              </ul>
               
            </div>
          </nav>
     
        <div class="container mt-md-5">
            <div class="row mt-md-5">
                <div class="col-md-6">
                    <div class="row mt-md-4">
                        <div class="col-md-12">
                            <h3 class="text-white font-weight-bolder mt-md-5">Unlock a World of Endless Fun and Learning: Join Our Exciting
                                Co-Curricular Activities Today!</h3>
                        </div>
                    </div>
                    <!-- <div class="row">
                        <div class="col-md-12">
                            <h1 class="text-white font-weight-bolder">It's really fun!</h1>
                        </div>
                    </div> -->
                    <div class="row">
                        <div class="col-md-12">
                            <p class="text-white">Are you a professional, busy mom who wants the best for your child's Arabic language
                                development? Look no further! Our Year-Long Co-Curricular Program is designed to
                                spark your child's passion for Arabic through captivating activities, interactive
                                exercises, and imaginative storytelling.</p>
                        </div>
                    </div>
                    <div class="row mt-md-5">
                        <!-- <div class="col-md-6"> -->
                        <button type="button" class="btn mr-md-3" id="b2" style="color:#3e0397">GET STARTED</button>
                        <!-- </div> -->
                        <!-- <div class="col-md-6"> -->
                        <!-- <button type="button" class="btn" id="b3">I ALREADY HAVE AN ACCOUNT</button> -->
                        <!-- </div> -->
                    </div>

                </div>
                <div class="col-md-6">
                    <img src="./Images/img1.png" alt="1" width="80%" class="mx-auto d-block" id="hands" />
                </div>
            </div>
        </div><!--2nd container-->
    </div><!--top container-fluid-->
    <!--row 2-->
    <div class="container-fluid">
        <div class="row" id="r2">
            <div class="container">
                <div class="row mt-md-5">
                    <div class="col-md-4 text-center">
                        <img src="./Images/img2.png" class="position-relative position-md-absolute" alt="2" width="60%"
                            id="img2" />
                    </div>
                    <div class="col-md-8">
                        <!-- <div class="row">
                            <div class="col-md-12">
                                <h2 id="heading1">Unlock a World of Endless Fun and Learning: Join Our Exciting
                                    Co-Curricular Activities Today!</h2>
                                <p>Are you a professional, busy mom who wants the best for your child's Arabic language
                                    development? Look no further! Our Year-Long Co-Curricular Program is designed to
                                    spark your child's passion for Arabic through captivating activities, interactive
                                    exercises, and imaginative storytelling.</p>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div> <!--container-fluid end-->
    <div class="container mt-md-5">
        <!-- <div class="row mt-md-5">
            <div class="col-md-12">
                <h1 class="text-center" style="color:#3e0397;" class="mt-md-5" id="heading"><b>The Looga</b> Difference
                </h1>
            </div>
        </div> -->
        <div class="row mt-5">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        <h3>🎭 Drama: </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p>Watch your child's confidence in speaking and communicating Arabic soar as they participate
                            in engaging drama sessions!</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        <h3>📚 Story Time & Kahoot: </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p>Immerse your child in exciting storytelling, followed by activities that reinforce their
                            comprehension skills.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        <h3>📜 Prophets' Stories & Kahoot: </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p>Discover the wisdom of timeless narratives while honing listening, comprehension, and
                            composition skills.</p>
                    </div>
                </div>
            </div>

            <div class="row mt-md-5">
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 id="cont4">🖋️ Grammar & Kahoot: </h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p id="para4">Fill essential gaps in Arabic grammar, empowering your child's written and
                                verbal communication skills.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 id="cont5">🐾 Vocabulary Building & Kahoot: </h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p id="para5">Foster knowledge retention and real-life language skills with theme-based
                                vocabulary and practical applications.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>
            <div class="row mt-md-5">
                <div class="col-md-12">
                    <h2 id="new" style="color:#3e0397;" class="text-center">Enroll Now for an Unforgettable Language
                        Adventure!</h2>
                    <p id="newcon" class="mt-md-4">Step into our immersive language world, where learning becomes a
                        delightful journey filled with excitement and joy. Choose from our carefully crafted sessions
                        that span the entire academic year, from October 2023 to July 2024.</p>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-12">
                <center>
                    <h3 id="ps">📅 Program Schedule</h3>
                </center>
            </div>
        </div>
        <!-- </div> -->
        <div class="row mt-md-5">
            <div class="col-md-12">
                <!--table-->
                <table class="table table-responsive-sm" id="table">
                    <thead style="background-color: #3e0397; color: white">
                        <tr>
                            <th scope="col">Cohort</th>
                            <th scope="col">From Date</th>
                            <th scope="col">To Date</th>
                            <th scope="col">Sessions</th>
                            <th scope="col">Curriculum</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Oct</th>
                            <td>2023-10-03</td>
                            <td>2023-10-28</td>
                            <td>4</td>
                            <td>Prophets story, Story time, vocabulary, Grammar</td>
                        </tr>
                        <tr>
                            <th scope="row">Nov</th>
                            <td>2023-10-31</td>
                            <td>2023-12-02</td>
                            <td>5</td>
                            <td>Prophets story, vocabulary, Story time, Grammar</td>
                        </tr>
                        <tr>
                            <th scope="row">Dec</th>
                            <td>2023-12-05</td>
                            <td>2023-12-16</td>
                            <td>2</td>
                            <td>Drama, Drama</td>
                        </tr>
                        <tr>
                            <th scope="row">Jan</th>
                            <td>2024-01-01</td>
                            <td>2024-01-27</td>
                            <td>4</td>
                            <td>Grammar, vocabulary, Prophet's story, Story time</td>
                        </tr>
                        <tr>
                            <th scope="row">Feb</th>
                            <td>2024-01-30</td>
                            <td>2023-03-03</td>
                            <td>5</td>
                            <td>Vocabulary, Grammar, Story time, vocabulary, Prophet’s </td>
                        </tr>
                        <tr>
                            <th scope="row">Mar</th>
                            <td>2024-03-05</td>
                            <td>2024-03-09</td>
                            <td>1</td>
                            <td>Drama</td>
                        </tr>
                        <tr>
                            <th scope="row">Apr</th>
                            <td>2024-04-16</td>
                            <td>2024-04-27</td>
                            <td>2</td>
                            <td>Drama, Drama</td>
                        </tr>
                        <tr>
                            <th scope="row">May</th>
                            <td>2024-04-30</td>
                            <td>2024-06-01</td>
                            <td>5</td>
                            <td>Prophets story, Story time, Grammar, vocabulary, Story </td>
                        </tr>
                        <tr>
                            <th scope="row">Jun</th>
                            <td>2024-06-04</td>
                            <td>2024-06-29</td>
                            <td>3</td>
                            <td>Drama, Drama, Drama</td>
                        </tr>
                        <tr>
                            <th scope="row">Jul</th>
                            <td>2024-07-02</td>
                            <td>2024-07-27</td>
                            <td>4</td>
                            <td>Grammar, vocabulary, Prophet’s story, Story time</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- </div>row end -->
        <div class="row">
            <div class="col-md-12">
                <center>
                    <h3>Enrollment Options</h3>
                </center>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title" style="color:#3e0397">[1] Full Program Enrollment: </h5>
                        <p class="card-text">Enjoy access to all sessions, including exclusive drama sessions,
                            throughout the academic year (October 2023 - July 2024).</p>
                        <!-- <button href="#" class="card-link btn-success"></button> -->
                    </div>
                </div>
                <!-- <img src="../Images/img3.png" alt="3" width="70%"  id="mb1"/> -->
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title" style="color:#3e0397">Choose Your Desired Day/Time: </h5>
                        <p class="card-text">Simply select the day & time that suits your schedule from the available
                            options:</p>
                        <li class="mt-md-4">Wednesday 6:30pm-7:30pm EST Toronto time</li>
                        <li class="mt-md-3">Saturday 9:30am-10:30am EST Toronto time</li>
                        <button type="button" class="btn-success mt-md-4">spin the wheel coupon </button>
                    </div>
                </div>
                <!-- <img src="../Images/img4.png" alt="4" width="70%" id="mb2" /> -->
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title" style="color:#3e0397">Waiting List:</h5>
                        <p class="card-text">If your desired day is full, don't worry! Join the waiting list and get a
                            chance to enroll when a spot becomes available. A non-refundable fee of $10 will be deducted
                            from your enrollment once your spot is confirmed</p>
                        <!-- <p class="card-text"></p> -->
                        <li class="mt-md-4">Thursday 6:30pm-7:30pm EST Toronto time</li>
                        <li class="mt-md-3">Saturday 4:30am-5:30am EST Toronto time</li>
                        <button href="#" class="card-link btn-primary mt-md-4"> wait list my child </button>
                    </div>
                </div>
                <!-- <img src="../Images/img5.png" alt="5" width="70%"  id="mb3"/> -->
            </div>
        </div>
        <div class="row mt-md-5">
            <div class="col-md-12">
                <h2 class="text-center" id="enroll">Enroll in Specific Month(s)</h2>
                <p class="mt-md-4">Customize your child's learning journey by choosing specific months. Select desired
                    months from the table below, and the total price will be calculated accordingly.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <!--table-->
                <table class="table table-responsive-sm" id="table">
                    <thead style="background-color: #3e0397; color: white">
                        <tr>
                            <th scope="col">Cohort</th>
                            <th scope="col">From Date</th>
                            <th scope="col">To Date</th>
                            <th scope="col">Sessions</th>
                            <th scope="col">Curriculum</th>
                            <th scope="col">price (USD)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Oct</th>
                            <td>2023-10-03</td>
                            <td>2023-10-28</td>
                            <td>4</td>
                            <td>Prophets story, Story time, vocabulary, Grammar</td>
                            <td>$114.99</td>
                        </tr>
                        <tr>
                            <th scope="row">Nov</th>
                            <td>2023-10-31</td>
                            <td>2023-12-02</td>
                            <td>5</td>
                            <td>Prophets story, vocabulary, Story time, Grammar</td>
                            <td>$139.99</td>
                        </tr>
                        <tr>
                            <th scope="row">Dec</th>
                            <td>2023-12-05</td>
                            <td>2023-12-16</td>
                            <td>2</td>
                            <td>Drama, Drama</td>
                            <td>Exclusive to Full Program Enrollees</td>
                        </tr>
                        <tr>
                            <th scope="row">Jan</th>
                            <td>2024-01-01</td>
                            <td>2024-01-27</td>
                            <td>4</td>
                            <td>Grammar, vocabulary, Prophet's story, Story time</td>
                            <td>$114.99</td>
                        </tr>
                        <tr>
                            <th scope="row">Feb</th>
                            <td>2024-01-30</td>
                            <td>2023-03-03</td>
                            <td>5</td>
                            <td>Vocabulary, Grammar, Story time, vocabulary, Prophet’s </td>
                            <td>$139.99</td>
                        </tr>
                        <tr>
                            <th scope="row">Mar</th>
                            <td>2024-03-05</td>
                            <td>2024-03-09</td>
                            <td>1</td>
                            <td>Drama</td>
                            <td>Exclusive to Full Program Enrollees</td>
                        </tr>
                        <tr>
                            <th scope="row">Apr</th>
                            <td>2024-04-16</td>
                            <td>2024-04-27</td>
                            <td>2</td>
                            <td>Drama, Drama</td>
                            <td>Exclusive to Full Program Enrollees</td>
                        </tr>
                        <tr>
                            <th scope="row">May</th>
                            <td>2024-04-30</td>
                            <td>2024-06-01</td>
                            <td>5</td>
                            <td>Prophets story, Story time, Grammar, vocabulary, Story </td>
                            <td>$139.99</td>
                        </tr>
                        <tr>
                            <th scope="row">Jun</th>
                            <td>2024-06-04</td>
                            <td>2024-06-29</td>
                            <td>3</td>
                            <td>Drama, Drama, Drama</td>
                            <td>Exclusive to Full Program Enrollees</td>
                        </tr>
                        <tr>
                            <th scope="row">Jul</th>
                            <td>2024-07-02</td>
                            <td>2024-07-27</td>
                            <td>4</td>
                            <td>Grammar, vocabulary, Prophet’s story, Story time</td>
                            <td>$114.99</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row mt-md-5 mb-md-5">
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title" style="color:#3e0397">Extra with Enrollment</h5>
                        <p class="card-text">Enroll your child in captivating Arabic activities and receive
                            complimentary access to our </p>
                        <li style="list-style-type: none;">🌟 Kids Portal with 6000+ digital games, stories & more!
                            [[add image of portal]]</li>
                        <li style="list-style-type: none;">🌟Students will play, collect points, and earn tickets for
                            prize raffles! [[ image of raffle winner]]</li>
                        <li style="list-style-type: none;">🌟As parents, you'll receive dedicated email reminders.</li>
                        <button type="button" class="btn-success mt-md-4">Invest in your child's future now!</button>
                    </div>
                </div>
                <!-- <img src="../Images/img3.png" alt="3" width="70%"  id="mb1"/> -->
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title" style="color:#3e0397">What Parents Say:</h5>
                        <li class="mt-md-4">"Co-Curricular Activities Program was great!" - Parent 1</li>
                        <li class="mt-md-3">
                            "It was so good, my son enjoyed it a lot." - Parent 2
                        </li>
                        <li class="mt-md-3">"The teacher is kind and engaging." - Parent 3</li>
                        <li class="mt-md-3">"The teacher is very friendly and kind." - Parent 4</li>

                    </div>
                </div>
                <!-- <img src="../Images/img4.png" alt="4" width="70%" id="mb2" /> -->
            </div>
            <div class="col-md-4">
                <div class="card w-md-100"  id="cardEnd">
                    <div class="card-body">
                        <h5 class="card-title" style="color:#3e0397">🌟 Don't Miss This Opportunity! Enroll Now for a
                            Brighter Future! 🌟</h5>
                        <li class="mt-md-4">Research has shown that engaging in co-curricular language activities
                            positively impacts students' linguistic development. Children who participate in such
                            programs have demonstrated improved fluency, reading & writing skills, listening, speaking,
                            comprehension & composition, and cultural understanding.</li>
                        <li class="mt-md-3">
                            At eduTechnoz, we are committed to providing an immersive and engaging learning experience
                            for your child. Join us now to spark their passion for Arabic and watch them flourish in
                            their language journey! Secure your spot today and give your child the gift of a lifetime!
                        </li>
                    </div>
                </div>
                <!-- <img src="../Images/img5.png" alt="5" width="70%"  id="mb3"/> -->
            </div>
        </div>
    </div><!--container close here-->
    <hr />
    <div class="container mt-5">
        <!-- <div class="row mt-5">
            <div class="col-md-12">
                <h1 style="color:#3e0397;" class="text-center" id="heading2">Start Learning With <b>Looga</b></h1>
                <p class="text-center" id="par">Master Arabic in record time with our cutting-edge app. Fun,
                    personalized and
                    gamified experience<br /> ensures
                    quick results.Download and try Looga today!</p>
            </div>
        </div> -->
        <!-- <div class="row mb-5 justify-content-center">
            <div class="col-md-2">
                <button type="button" class="btn btn-block  mb-2" id="bb1"><i
                        class="fa-brands fa-apple mr-2"></i>Download on<br /><b>App Store</b></button>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-block  mb-2 " id="bb2"><i
                        class="fa-brands fa-google-play mr-2"></i>Get it on <br /><b>Google Play</b></button>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-block  mb-2 " id="bb3"><i
                        class="fa-solid fa-window-maximize mr-2"></i>Get started on <br /><b>Web App</b></button>
            </div>
        </div> -->
    </div><!--container end here-->
    <div class="container-fluid mt-md-5">
        <div class="row" id="bg2">
            <div class="container">
                <div class="row">
                    <div class="col-md-9"></div>
                    <div class="col-md-3">
                        <img src="./Images/img6.png" alt="4" class="position-relative position-md-absolute" width="60%"
                            id="img6" />
                    </div>
                </div>
                <div class="row mb-md-5">
                    <div class="col-md-4">
                        <video src="./video/video.mp4" height="600px" width="80%" controls></video>
                    </div>
                    <div class="col-md-8">
                        <div class="row mt-md-5">
                            <div class="col-md-12">
                                <h2>People Trust Looga</h2>
                                <p>“The reason why I chose to partner with eduTechnoz was because their vast amount of
                                    experience in teaching Arabic both for adults and kids. I believe in the eduTechnoz
                                    learning model and I find it very engaging after having a look into the lessons
                                    myself. It’s really cool!” – Maya</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p>Members of:</p>
                                <img src="./Images/Innoved-Blue.png" alt="innoved" width="30%" id="blue" />
                                <img src="./Images/uni.png" alt="white" width="30%" id="uni" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p class="mt-md-4">Awards & International Recognition:</p>
                            </div>
                            <!--carousal-->
                            <div class="row">
                                <div class="col-md-12">
                                    <!--carousal-->

                                </div><!--col end-->
                            </div><!--row end-->
                        </div>
                    </div>
                </div>
            </div><!--container-->
        </div>
    </div>
    <div class="container-fluid" style="background-color: black;">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <img src="./Images/logo-white.png" alt="logo" class="mx-auto d-block mt-md-5" id="white" />
                        <p class="text-white text-center mt-md-3" id="text">Gamifying Arabic Literacy Teaching &
                            Learning</p>
                    </div>
                </div>

                <center>
                    <div class="container w-md-25" >
                        <div class="d-flex justify-content-center" id="icon">
                            <div class="col-auto">
                                <button class="btn btn-link"><i class="fab fa-facebook-f text-white"></i></button>
                            </div>
                            <div class="col-auto">
                                <button class="btn btn-link"><i class="fab fa-twitter text-white"></i></button>
                            </div>
                            <div class="col-auto">
                                <button class="btn btn-link"><i class="fab fa-youtube text-white"></i></button>
                            </div>
                            <div class="col-auto">
                                <button class="btn btn-link"><i class="fab fa-instagram text-white"></i></button>
                            </div>
                        </div>
                    </div>
                </center>

                <hr color="grey" />
                <div class="row">
                    <div class="col-md-12">
                        <p class="text-white text-center">© 2023 eduTechnoz. All Rights Reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- </div>top container-fluid -->
</body>

</html>